.App {
  text-align: center;
}
.nav-bar ul {
  list-style: none;
}
.nav-bar ul a {
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  color: black;
}
.nav-bar li {
  display: inline-block;
}
.nav-bar a:hover {
  color: orange;
}
.nav-bar a:active {
  color: yellow;
}
.nav-bar a.active {
  color: orange;
}

.Book:hover {
  color: orange;
  cursor: pointer;
}
/* .Book{
  padding: 40px;
} */
